<!-- <nav class="navbar sticky-top navbar-dark bg-dark h-100 he">
    <ul> 
    <div class="container-fluid">
       
            <li>
        <a class="navbar-brand mx-auto" href="#">Employees profile System</a>
    </li>
</div>
<div class="container-fluid">

    <li>
        <a class="navbar-brand mx-auto" routerLink="/star">Logout</a>

    </li>
   </div>
    
</ul>
</nav> -->

<ul>
    <li><a href="#">Employees profile System</a></li>
    <li><a href="#">bynry inc</a></li>
    <li><a href="#">Contact</a></li>$nbsp;$nbsp;$nbsp;$nbsp;$nbsp;$nbsp;$nbsp;$nbsp;$nbsp;$nbsp;
    <li><a class="" routerLink="/star">Logout</a></li>
</ul>