<!--1️⃣ code CSS below -->

<style>
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');
  
  .btn{
  
  font-family: Nunito;
  font-weight: 700;
  font-size: 14px;
  color: #db9b69;
  background: linear-gradient(90deg, #0066CC 33%, #c500cc 100%);
  padding: 10px 38px;
  border: solid #7cb2e8 2px;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  border-radius: 14px;
  transition : 2324ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  }
  
  .btn:hover{
  
  transition : 2324ms;
  padding: 10px 100px;
  transform : translateY(-0px);
  background: linear-gradient(90deg, #0066CC 33%, #c500cc 100%);
  color: #294f75;
  border: solid 2px #0066cc;
  }
  
  </style>
  
  <!-- 2️⃣code HTML below -->
  

<div class="container">
  <div class="center">
  <!-- 2️⃣code HTML below -->
  <router-outlet>
  <button class="btn" routerLink="/star">get started</button>

</router-outlet>
</div></div>
<br> <br><br><br><br><br><br><br>